{% extends "base.html.twig" %}
{% block title %}<title>Détails de l'annonce</title>{% endblock title %}

{% block content %}
<main >
    <div class="container pt-5">
  <div class="container-fluid bk-c p-4 mb-5">

      <h1 class="h1">Détails de l'annonce</h1>

      <div class="row">

        <!-- Premiere colonne  -->
        <div class="col-6">

          <div class="w-100 p-2">
            <p><b>Nom</b> : {{ infos.nom }}</p>
          </div>

          <!--PRENOM-->
          <div class="w-100 p-2">
            <p><b> Prenom</b> : {{ infos.prenom }}</p>
          </div>

          <!--EMAIL-->
          <div class="w-100 p-2">
            <p><b>Email</b> : {{ infos.courriel }}</p>
          </div>

          <!--TEL-->
          <div class="p-2">
            <P><b>Téléphone</b> : {{ infos.telephone }}</P>
          </div>

          <!--CATEGORIES-->
          <div class="p-2">
            <p><b>Catégorie</b> : {{ categorie }}</p>
          </div>

          <!--TITRE-->
          <div class="p-2">
            <p><b>Titre et description de l'annonce</b></p> <br>
            <p>{{ infos.titre }}</p>
            <p> {{ infos.description }}</p>
          </div>

          <!--PRIX-->
          <div class="p-2">
            <p><b>Prix</b> : {{ infos.prix }} €</p>
          </div>

        </div>


        <!-- 2e Colonne -->
        <div class="col-6">

          <!--IMAGE-->
          <div class="d-flex justify-content-center align-items-center p-2">
            <img src="{{ basepath }}/{{ infos.img_url }}" id="img-annonce" class="pb-3" alt="image de l annonce">
          </div>

        </div>

      </div>
    </div>
  </div>

</main>
{% endblock content %}


{% block javascript %}

{{parent()}}

{% endblock javascript %}