{% extends "base.html.twig" %}
{% block title %}<title>Site de petites annonces</title>{% endblock title %}

  {% block content %}
  <main >
    <div class="container pt-5">
        <!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Aperçu de l'annonce</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="far fa-times-circle fa-2x"></i></span>
          </button>
        </div>
        <div class="modal-body">
            <div id="myModal">
                
                    <div class="d-flex">
                        <div class="text-center">
                            <img src="https://picsum.photos/200" alt="image d'illustration" class="pb-3">
                                <p>{{result.prix}}</p>
                                <a href="" target="_blank" class="download"> <i class="fas fa-download"></i>Télécharger l'annonce</a>
                        </div>
                        <div class="m-2 container-fluid modalBc">
                            <p class="p-1">Nom : {{result.nom}}</p>
                            <p class="p-1">Prénom : {{result.prenom}}</p>
                            <p class="p-1">Adresse mail : {{ result.courriel}}</p>
                            <p class="p-1">Téléphone : {{ result.telephone }}</p>
                            <p class="p-1">Titre : {{ result.titre }}</p>
                            <p class="p-1">Description de l'annonce : {{result.message}} </p>
                        </div>
                    </div>
        </div>
    </div>
  </div>
    </div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> 
<div class="card-deck">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-5">
           <div class="card bannerHidden">
                <span href="#" class="price">{{ result.prix }} €</span>
                <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="Paysage Canadien">
                <div class="card-body">
                    <p class="card-title text-center">{{ result.titre }}</p>
                        <p class="card-text"> {{ result.description }}</p>
                        <br>
                        <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                           <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                         </a>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card  bannerHidden">
                 <span href="#" class="price">{{ result.prix }}€</span>
                 <img src="{{ basepath }}/assets/noimage.png" class="card-img-top" alt="Pas d'image">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card  bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
           <div class="card  bannerHidden">
                <span href="#" class="price">{{ result.prix }} €</span>
                <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title text-center"> {{ result.titre }}</p>
                        <p class="card-text"> {{ result.description }}</p>
                        <br>
                        <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                         </a>
                </div>
            </div>
        </div>            
        <div class="col mb-5">
           <div class="card  bannerHidden">
                <span href="#" class="price">{{ result.prix }} €</span>
                <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title text-center"> {{ result.titre }}</p>
                        <p class="card-text"> {{ result.description }}</p>
                        <br>
                        <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                         </a>
                </div>
            </div>
        </div>            
        <div class="col mb-5">
            <div class="card  bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card  bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>            
         <div class="col mb-5">
            <div class="card bannerHidden">
                 <span href="#" class="price">{{ result.prix }} €</span>
                 <img src="{{ basepath }}/assets/canada.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-title text-center"> {{ result.titre }}</p>
                         <p class="card-text"> {{ result.description }}</p>
                         <br>
                         <a href="" role="button" data-toggle="modal" data-target="#Modal" class="black-text d-flex justify-content-end">
                          <h5>En savoir plus  <i class="fas fa-angle-double-right"></i></h5>
                          </a>
                 </div>
             </div>
         </div>
    </div>
</div>
</main>
  {% endblock content %}


  {% block javascript %}
  
  {{parent()}}

  {% endblock javascript %}