{% extends "base.html.twig" %}

{% block title %}<title>Déposer une annonce</title>{% endblock title %}
{% block header %}
  <body>
  <header>
    <nav >
      <div class="navbar navbar-light">
        <a class="navbar-brand d-flex" href="index.php">
          <img src="{{ basepath }}/assets/logo.png"  width="250" height="125" class=" align-top" alt="" loading="lazy">
        </a>

        <div class="input-group mb-3 mx-auto col-md-7">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Affaires pro</a>
            <a class="dropdown-item" href="#">Animaux</a>
            <a class="dropdown-item" href="#">Auto-Moto</a>
            <a class="dropdown-item" href="#">Emploi</a>
            <a class="dropdown-item" href="#">Immobilier</a>
            <a class="dropdown-item" href="#">Services</a>
            <a class="dropdown-item" href="#">Vacances</a>
            <a class="dropdown-item" href="#">Autres..</a>
          </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Que recherchez-vous ?">
        </div>
      </div>
      <div class="d-flex justify-content-center mt-n3 pb-4">
        <button type="button" class="btn btn-primary btn-rounded">Déposer une annonce</button>
      </div>
    </nav>
  </header>
  {% endblock header %}


  {% block content %}
    <main>
      <div class="container pt-5">
        <div class="container-fluid bk-c p-4 mb-5">
          <p class="h1">Bonjour !</p>

          <!-- FORM -->
        <form class="form-horizontal">
          <!--NOM-->
          <div class="row">
            <div class="col-md-6 p-2">
              <label for ="nom">Nom</label>
              <input type="text" class="form-control" value="" placeholder="First name">
            </div>
          </div>
          <i class="fas fa-cart-arrow-down fa-10x absolute"></i>

          
          <!--PRENOM-->
            <div class="row">
              <div class="col-md-6 p-2">
                <label for="prenom">Prénom</label>
                <input type="text" class="form-control" value ="" placeholder="Last name">
              </div>
            </div>
            
            <!--GROUPE EMAIL + CATEGORIES-->
            <div class="row">
              <!--EMAIL-->
              <div class="col p-2">
                <label for="courriel">Email</label>
                <input type="email" class="form-control" value="" placeholder="1234@example.com">
              </div>

            <!--CATEGORIES-->
            <div class="col p-2">
              <label for="inputCat">Catégories</label>
              <select id="inputState" class="form-control">
                <option selected>Choisissez...</option>
                <option>Affaires professionnelles</option>
                <option>Animaux</option>
                <option>Auto-Moto</option>
                <option>Emploi</option>
                <option>Immobilier</option>
                <option>Services</option>
                <option>Vacances</option>
                <option>Autres ...</option>
                </select>
            </div>           
          </div>

        <!-- GROUPE TEL + IMAGE-->
        <div class="row">
          <!--TEL-->
          <div class="col-md-6 p-2">
            <label for ="telephone">Téléphone</label>
            <input type="tel" class="form-control" value="" placeholder="0X XX XX XX XX " >        
          </div>

        <!--IMAGE-->
          <div class="form-group p-3 m-3 ">
            <div class="value">
              <div class="input-group js-input-file">
                <input class="input-file" type="file" value="" name="file_cv" id="file">
              </div>
            </div>
          </div>
        </div>

      
          <!--MESSAGE-->
          <div class=" form-group col p-1">
              <label for="description">Texte de l'annonce</label>
              <textarea class="form-control" rows="5" value="description" id="comment"></textarea>
          </div> 
          
          <!--reCAPTCHA-->
          <div class="row p-4">
          <div class="g-recaptcha" data-sitekey="6LcsqcUZAAAAAB2ybVOK-_XyJ3zbi25Yvdb2KeMq"></div>
        </div>
        <div class="form-row text-center">
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Déposer mon annonce</button>
            </div>
          </div>
        </form>
      </div>
      </div>

    </main>

  {% endblock content %}



  {% block footer %}
  <footer>

  </footer>
  {% endblock footer %}

  {% block javascript %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="{{ basepath }}/js/top_button.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>

  {% endblock javascript %}