{% extends "base.html.twig" %}

{% block title %}<title>Déposer une annonce</title>{% endblock title %}
{% block header %}
  <body>
  <header>
    <nav >
      <div class="navbar navbar-light">
        <a class="navbar-brand d-flex" href="/">
          <img src="{{ basepath }}/assets/logo.png"  width="250" height="125" class=" align-top" alt="" loading="lazy">
        </a>

        <div class="input-group mb-3 mx-auto col-md-7">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Affaires pro</a>
            <a class="dropdown-item" href="#">Animaux</a>
            <a class="dropdown-item" href="#">Auto-Moto</a>
            <a class="dropdown-item" href="#">Emploi</a>
            <a class="dropdown-item" href="#">Immobilier</a>
            <a class="dropdown-item" href="#">Services</a>
            <a class="dropdown-item" href="#">Vacances</a>
            <a class="dropdown-item" href="#">Autres..</a>
          </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Que recherchez-vous ?">
        </div>
      </div>
      <div class="d-flex justify-content-center mt-n3 pb-4">
        <button type="button" class="btn btn-primary btn-rounded">Déposer une annonce</button>
      </div>
    </nav>
  </header>
  {% endblock header %}


  {% block content %}
    <main>
      <div class="container pt-5">
        <div class="container-fluid bk-c p-4 mb-5">
          <p class="h1">Bonjour !</p>

          <!-- FORM -->
        <form id="myForm" class="form-horizontal" method="post" action="/formulaire-ajout" enctype="multipart/form-data" onkeydown="validateForm()" onsubmit="return submitUserForm();">
          <!--NOM-->
          <div class="row">
            <div class="col-md-6 p-2">
              <label for ="nom">Nom</label>
              <input id="nom" type="text" class="form-control" name ="nom" value="" placeholder="Nom" required>
              <span id="textNom"></span>
            </div>
          </div>
          <i class="fas fa-cart-arrow-down fa-10x absolute"></i>


          <!--PRENOM-->
            <div class="row">
              <div class="col-md-6 p-2">
                <label for="prenom">Prénom</label>
                <input id="prenom" type="text" class="form-control" name="prenom" value ="" placeholder="Prénom" required>
                <span id="textPrenom"></span>

              </div>
            </div>

            <!--GROUPE EMAIL + IMAGE-->
            <div class="row">
              <!--EMAIL-->
              <div class="col p-2">
                <label for="courriel">Email</label>
                <input id="courriel" type="email" class="form-control" name="courriel" value="" placeholder="1234@example.com" required>
                <span id="textEmail"></span>
              </div>

              <!--IMAGE-->
          <div class="form-group p-2 mt-4 col-md-6">
            <input type="file" name="img_nom" id="file" class="input-file" value="">
            <label for="file" class="btn btn-tertiary js-labelFile">
              <i class="icon fa fa-check"></i>
              <span class="js-fileName">Sélectionner une image...</span>
            </label>
        </div>

          </div>

        <!-- GROUPE TEL + CATEGORIES-->
        <div class="row">
          <!--TEL-->
          <div class="col-md-6 p-2">
            <label for ="telephone">Téléphone</label>
            <input id="telephone" type="tel" class="form-control" name="telephone" value="" placeholder="0X XX XX XX XX " required>
            <span id="textTel"></span>
          </div>

            <!--CATEGORIES-->
            <div class="col p-2">
              <label for="inputCat">Catégories</label>
              <select id="categorie" class="form-control" name="categorie" required >
                <option selected>Choisissez...</option>
                <option value ="1">Affaires professionnelles</option>
                <option value ="2">Animaux</option>
                <option value ="3">Auto-Moto</option>
                <option value ="4">Emploi</option>
                <option value ="5">Immobilier</option>
                <option value ="6">Services</option>
                <option value ="7">Vacances</option>
                <option value ="8">Autres ...</option>
                </select>
            </div>

        </div>

        <!-- TITRE + PRIX -->

        <div class="row">
          <!--TITRE-->
          <div class="col-md-6 p-2">
            <label for ="titre">Titre de l'annonce</label>
            <input id="titre" type="text" class="form-control" name="titre" value="" placeholder="" required>
            <span id="textTitre"></span>
          </div>

        <!--PRIX-->
        <div class="col-md-6 p-2">
          <label for ="prix">Prix en euros (€)</label>
          <input id="prix" type="text" class="form-control" name="prix" value="" placeholder=" " >
          <span id="textPrix"></span>
        </div>
        </div>

          <!--MESSAGE-->
          <div class="row">

            <div class=" form-group col p-2">
                <label for="description">Texte de l'annonce</label>
                <textarea class="form-control" rows="5" name="description" value="" id="description" required ></textarea>
                <span id="textMess"></span>
            </div>
          </div>

          <!--reCAPTCHA-->
          <div class="g-recaptcha" data-sitekey="6LcsqcUZAAAAAB2ybVOK-_XyJ3zbi25Yvdb2KeMq" data-callback="verifyCaptcha"></div>
          <div id="g-recaptcha-error"></div>
        <div class="form-row text-center">
            <div class="col-12">
              <button id="formButton" type="submit" name="submit" class="btn btn-primary">Déposer mon annonce</button>
            </div>
          </div>
        </form>

      </div>
      </div>

    </main>

  {% endblock content %}



  {% block footer %}
  <footer>

  </footer>
  {% endblock footer %}

  {% block javascript %}

  {{ parent() }}

  {% endblock javascript %}