/*CSS RESET*/
html,body,,main, div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i, dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,section,summary,
time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:1rem;
	vertical-align:baseline;
}

/* VARIABLES */
$indigoDye: #70ABAF;
$coffee : #916953;
$magnolia : #F8F1FF;
$bistre : #846C5B;
$gumMetal : #202C3C;
$redBanner :#9f1226;

body{
    background-color: $magnolia;

}


nav{
    background-color: $indigoDye;

    .form-control{
        height: calc(1.5em + 1.2rem + 2px);
        border-radius: 1.25rem;
    }

    .btn{
        border-radius: 1.25rem;
        padding: 0.575rem 3.75rem;
    }
    
    .btn-primary{
        background-color: $coffee;
        border-color: $coffee;
    }

    .btn-primary:hover{
        background-color: $magnolia;
        border-color: $coffee;
        color : $coffee;
    }

    -moz-box-shadow: 0px 10px 13px 0px #cfcfcf;
    -webkit-box-shadow: 0px 10px 13px 0px #cfcfcf;
    -o-box-shadow: 0px 10px 13px 0px #cfcfcf;
    box-shadow: 0px 10px 13px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=13);

}

.input-group-prepend{

    .btn{
        background-color: #202C3C;
        color: $magnolia;
    }
}


   main{
       .card{
           border: 1px solid $gumMetal;
           border-radius: .55rem;
           box-shadow: 2px 4px 10px 2px rgba(119, 119, 119, 0.75);
            -moz-box-shadow: 2px 4px 10px 2px rgba(119, 119, 119, 0.75);
            -webkit-box-shadow: 2px 4px 10px 2px rgba(119, 119, 119, 0.75);
       }

       .card-title{
           font-size: 1.6rem;
       }

       .bannerHidden {
        padding: 0.5em;
        overflow: hidden;
      }
      
      .price {
        position: absolute;
        top:7%;
        right: -68px;
        z-index: 10;
        display: inline-block;
        font-size: 18px;
        width: 250px;
        text-align: center;
        padding: .25em 0;
        color: white;
        transform: rotate(42deg);
        border: 5px solid #fff;
        background: #9f1226;
      }

      #myBtn {
        display: none; 
        position: fixed;
        bottom: 20px; 
        right: 100px; 
        z-index: 99; 
        border: none; 
        outline: none; 
        background-color: $coffee; 
        color: white; 
        cursor: pointer; 
        padding: 15px;
        border-radius: 50%; 
        font-size: 18px; 
      }
      
      #myBtn:hover {
        box-shadow: 0px 0px 10px 4px rgba(162, 128, 128, 0.75);
        -moz-box-shadow: 0px 0px 10px 4px rgba(162, 128, 128, 0.75);
        -webkit-box-shadow: 0px 0px 10px 4px rgba(162, 128, 128, 0.75);  
}

    }